*{
    margin: 0px;
    padding: 0px;
}
.header{
    width: 1280px;
    position: fixed;
}
/* kode css navigator */
ul{
    list-style: none;
    background: bisque;
    padding: 0px 0px;
    margin: 110px 0px;
    position: fixed;
    width: 1280px;
    height: 60px;
}

ul li{
    display: inline-block;
    position: relative;
    height: 60px;
    padding: 10px 8px;
}

ul li a{
    padding: 10px 0px;
    text-align: center;
}

ul a:hover{
    background-color: aqua;
}

/* kode css untuk dropdown */
ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    background: blueviolet;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    margin: 0px 0px;
}

ul li:hover ul.dropdown{
    display: block;
}

/* kode css side bar */
.column{
    float: left;
    padding: 0px 10px;
}
.column.side{
    margin: 170px 0px;
    width: 20%;
    background-color: green;
}

.column.middle{
    margin: 170px 0px;
    width: 75%;
    background-color: blanchedalmond;

}